h1{
    color: rgb(218, 174, 149);
    text-shadow: 2px 2px 2px black;
    font-family: Arial;
    text-align: center;
}
form{
    display: grid;
    font-family: Arial;
    grid-area: main;
    grid-column-start: auto;
    gap: 10px;
    grid-column-end: auto;
    grid-template-columns: 180px 180px;
    width:370px;
    border: 5px solid rgb(52, 53, 57);
    padding-block: 15px;
    padding-inline: 10px;
    background-color: rgb(218, 174, 149);

}

main{
    width: 400px;
    margin: auto;
}

button{ 
    margin-top: 10px;
}
body{
    background-color: rgb(187,131, 118) ;

}
